<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%= title%></title>
</head>
<body>
    <%- include ('partials/navigation') %>
    <div class="container d-flex flex-column justify-content-center pb-5">
            <h1 class="text-center pt-4 pb-4 fw-bold">Proyectos</h1>
            <div class="card bg-dark text-white">
                <img src="/img/floresta.png" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title fw-bold">La floresta</h5>
                <p class="card-text">Primer proyecto como empresa que se desarrollo con la
                    finalidad de satisfacer las necesidades de los clientes que visitan esta entidad, facilitanto a sus 
                    laboradores mejorar su eficiencia en cuanto al servicio.
                </p>
                <p class="card-text"><small class="text-white">Last updated 3 mins ago</small></p>

                <button type="button" class="btn btn-outline-info">Vista</button>
                </div>
            </div>
        </div>
    </div>
    <%- include ('partials/footer') %>
</body>
</html>