<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <%- include('partials/head') %>
    <title><%= title%></title>
</head>
<body>
    <%- include ('partials/navigation') %>
    
    <main class="container text-center justify-content-center align-items-center">
        <section id="sect-01">
            <h1 class="display-1 fw-bold" style="color: rgb(0, 204, 255);">Quienes Somos</h1>
            <div class="d-flex justify-content-center align-items-center">
                
                <!-- Agrega la imagen aquí, ajusta la ruta de "src" según la ubicación de tu imagen -->
                <img src="/img/logo.png" class="rounded-circle w-30 me-5" alt="logo">
                <div>
                    
                    <p>
                        Facilitaremos un sistema de gestion que sera operado desde diferentes dispositivos <br>
                        del restaurante, donde a traves de unos dispositivos moviles y web que seran <br>
                        manipulados por un administrador, usuarios y empleados con la finalidad de aumentar <br>
                        la calidad y eficiencia del servicio.
                    </p>
                </div>
            </div>
        </section>

        <section id="sect-02">
            <h1 class="display-1 fw-bold" style="color: rgb(0, 204, 255);">Equipo</h1>
            <div class="cardContainer d-flex justify-content-center p-5">
                <div class="p-4">
                <div class="card bg-dark text-white d-flex flex-column justify-content-center align-items-center p-4">
                    
                    <img src="/img/foto1.png" width="100px" alt="foto1">
                    <h4><b>Maria Paula Embus</b></h4>
                    <h2>Frontend</h2>
                    <div class="redes fs-3">
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-brands fa-square-facebook"></i>
                        <i class="fa-brands fa-x-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </div>
                </div>
                <div class="p-4">
                <div class="card bg-dark text-white align-items-center d-flex flex-column justify-content-center p-4">
                    <img src="/img/foto2.png" width="100px"  alt="foto2">
                    <h4><b>Karol Tatiana Angarita</b></h4>
                    <h2>Frontend</h2>
                    <div class="redes fs-3">
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-brands fa-square-facebook"></i>
                        <i class="fa-brands fa-x-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </div>
                </div>
                <div class="p-4">
                    <div class="card bg-dark text-white align-items-center d-flex flex-column justify-content-center p-4">
                        <img src="/img/foto3.png" width="100px"  alt="foto3">
                        <h4><b>Sergio Andrez Narvaez</b></h4>
                        <h2>Frontend</h2>
                        <div class="redes fs-3">
                            <i class="fa-brands fa-linkedin"></i>
                            <i class="fa-brands fa-square-facebook"></i>
                            <i class="fa-brands fa-x-twitter"></i>
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
                
        </section>

        
    </main>
    <%- include ('partials/footer') %>

</body>
</html>


    

    