<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/head') %>
    <title><%= title%></title>
</head>
<body>
    <%- include ('partials/navigation') %>
    <main class="container vh-100 pt-5 text-center justify-content-center align-items-center">
        <section>
            <h1 class="display-1 fw-bold">Quienes Somos</h1>
            <div class="d-flex justify-content-center align-items-center">
                
                <!-- Agrega la imagen aquí, ajusta la ruta de "src" según la ubicación de tu imagen -->
                <img src="/img/logo.png" class="rounded-circle" width="450px" alt="img 1">
                <div>
                    
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima provident repudiandae perspiciatis laboriosam quis veritatis excepturi doloribus. Sit excepturi consequatur, esse repudiandae praesentium, dolores nihil incidunt quas, similique optio quam.
                    </p>
                </div>
            </div>
        </section>
    </main>
    <%- include ('partials/footer') %>

</body>
</html>